{% extends "main/base.html" %}
{% load static %}

{% block title %}Password Reset Email Sent | Eventic{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/account/styles/login.css' %}">
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center py-5 my-5">
    <div class="text-center">
        <h2 class="mb-2 poppins">Password Reset Email Sent</h2>
        <p>We have sent you an email with instructions to reset your password. Please check your inbox.</p>
        <div class="mt-4">
            <a href="{% url 'auth:login' %}"><i class="bi bi-arrow-left"></i>&nbsp;Back to Login</a>
        </div>
    </div>
</div>
{% endblock %}
