@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: "Geist";
  src: url("https://eventic-webapp.s3.ap-south-1.amazonaws.com/static/fonts/Geist/GeistVariableVF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Google-sans";
  src: url("https://eventic-webapp.s3.ap-south-1.amazonaws.com/static/fonts/google-sans-cufonfonts/ProductSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("https://eventic-webapp.s3.ap-south-1.amazonaws.com/static/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Platypi";
  src: url("https://eventic-webapp.s3.ap-south-1.amazonaws.com/static/fonts/Platypi/static/Platypi-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro", "SF Pro Text", "Myriad Set Pro", system-ui, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  src: url("https://eventic-webapp.s3.ap-south-1.amazonaws.com/static/fonts/SF-Pro/SFPRODISPLAYREGULAR.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Great Vibes";
  src: url("https://eventic-webapp.s3.ap-south-1.amazonaws.com/static/fonts/great-vibes/GreatVibes-Regular.ttf") format("truetype");
  font-weight: normal;
}
.geist {
  font-family: "Geist", "Open Sans", sans-serif !important;
}

.google-sans {
  font-family: "Google-sans", "Open Sans", sans-serif !important;
}

.poppins {
  font-family: "Poppins", sans-serif !important;
}

.roboto {
  font-family: "Roboto", sans-serif !important;
}

.platypi {
  font-family: "Platypi", sans-serif !important;
}

.sf-pro {
  font-family: "SF Pro", "Open Sans", Helvetica, sans-serif !important;
}

.playfair {
  font-family: "Playfair Display", serif !important;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif !important;
}

.great-vibes {
  font-family: "Great Vibes" !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(217, 224, 231);
  border-radius: 8px;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.ls-0 {
  letter-spacing: 0px;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.ls-3 {
  letter-spacing: 3px;
}

.ls-4 {
  letter-spacing: 4px;
}

.ls-5 {
  letter-spacing: 5px;
}

label.form-check-label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.dropdown-item-danger {
  color: #dc3545;
  background: transparent;
}

.dropdown-item-danger:focus,
.dropdown-item-danger:hover {
  color: #bd362f;
  background: #f8f9fa;
}

label.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 32px;
}
label.switch input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}
label.switch input[type=checkbox]:checked + .slider {
  background-color: #2196f3;
}
label.switch input[type=checkbox]:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
label.switch input[type=checkbox]:checked + .slider:before {
  transform: translateX(26px);
}
label.switch span.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
label.switch span.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
label.switch span.round {
  border-radius: 34px;
}
label.switch span.round:before {
  border-radius: 50%;
}

.no-results-box {
  padding: 50px;
  border-radius: 32px;
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-results-box h2 {
  font-size: 2rem;
  margin-bottom: 16px;
}
.no-results-box h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #606e9a;
  opacity: 0.4;
  font-family: "Poppins", sans-serif;
}
.no-results-box p {
  font-size: 1rem;
  max-width: 560px;
}

.btn-theme-blue {
  background: #4364d3;
  color: #ffffff;
  transition: all 0.25s ease-in-out;
}
.btn-theme-blue:hover {
  background: #3b59ba;
  color: #ffffff;
}

.btn-outline-theme-blue {
  border-color: #4364d3;
  color: #4364d3;
  transition: all 0.25s ease-in-out;
}
.btn-outline-theme-blue:hover {
  background: #4364d3;
  color: #ffffff;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .checkbox-wrapper label {
    cursor: pointer;
  }
  .checkbox-wrapper input[type=checkbox] {
    margin: 0;
    margin-top: 2px;
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 22px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    box-shadow: none !important;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .checkbox-wrapper input[type=checkbox]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  .checkbox-wrapper input[type=checkbox]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  .checkbox-wrapper input[type=checkbox]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .checkbox-wrapper input[type=checkbox]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .checkbox-wrapper input[type=checkbox]:disabled + label {
    cursor: not-allowed;
  }
  .checkbox-wrapper input[type=checkbox]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .checkbox-wrapper input[type=checkbox]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  .checkbox-wrapper input[type=checkbox]:not(.switch) {
    width: 21px;
  }
  .checkbox-wrapper input[type=checkbox]:not(.switch):after {
    opacity: var(--o, 0);
  }
  .checkbox-wrapper input[type=checkbox]:not(.switch):checked {
    --o: 1;
  }
  .checkbox-wrapper input[type=checkbox] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 4px;
  }
  .checkbox-wrapper input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }
  .checkbox-wrapper input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  .checkbox-wrapper input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
  .checkbox-wrapper input[type=checkbox].switch {
    width: 38px;
    border-radius: 11px;
  }
  .checkbox-wrapper input[type=checkbox].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  .checkbox-wrapper input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  .checkbox-wrapper input[type=checkbox].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }
}
.checkbox-wrapper * {
  box-sizing: inherit;
}

.checkbox-wrapper *:before,
.checkbox-wrapper *:after {
  box-sizing: inherit;
}

/* From Uiverse.io by alexruix */
.square-box-loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}

.square-box-loader:before {
  content: "";
  width: 48px;
  height: 5px;
  background: rgba(67, 101, 211, 0.2980392157);
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.square-box-loader:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #4364d3;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

.overlay-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: none;
  z-index: 9999;
}
.overlay-loader .loading-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow324 {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
/* HTML: <div class="loader"></div> */
.box-circle-loader {
  width: 65px;
  aspect-ratio: 1;
  position: relative;
}

.box-circle-loader:before,
.box-circle-loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset #1a1a1a;
  animation: l5 2.5s infinite;
}

.box-circle-loader:after {
  animation-delay: -1.25s;
  border-radius: 0;
}

@keyframes l5 {
  0% {
    inset: 0 35px 35px 0;
  }
  12.5% {
    inset: 0 35px 0 0;
  }
  25% {
    inset: 35px 35px 0 0;
  }
  37.5% {
    inset: 35px 0 0 0;
  }
  50% {
    inset: 35px 0 0 35px;
  }
  62.5% {
    inset: 0 0 0 35px;
  }
  75% {
    inset: 0 0 35px 35px;
  }
  87.5% {
    inset: 0 0 35px 0;
  }
  100% {
    inset: 0 35px 35px 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro", "Open Sans", Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background: #1a1a1a !important;
}

body::-webkit-scrollbar {
  width: 0;
}

.toast-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1055;
}

.container {
  max-width: 1200px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 80px 0;
  display: grid;
  place-content: center;
}
.container #headerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  height: 32px;
  margin-bottom: 36px;
}
.container #headerLogo img {
  height: 32px;
  width: auto;
}
.container h1 {
  font-size: 64px;
  font-weight: 500;
  margin-bottom: 12px;
  text-align: center;
  color: #ffffff;
}
.container h1 span {
  background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #b18830 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #9d8244 62.5%, #7d642b 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.container h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 32px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #a7a7a7;
}
.container h3 span {
  color: #ffffff;
}
.container p {
  max-width: 720px;
  text-align: center;
  color: rgb(188, 188, 188);
  margin: 24px auto 0 auto;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.container p a {
  background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #b18830 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #9d8244 62.5%, #7d642b 100%);
  color: transparent;
  -webkit-background-clip: text;
  transition: all 0.25s ease-in-out;
}
.container p a:hover {
  color: #EAC77D;
}
.container p span {
  color: white;
}
.container button#payBtn {
  position: relative;
  padding: 8px;
  margin: 50px auto 24px auto;
  border-radius: 50px;
  border: none;
  outline: none;
  background: rgba(253, 253, 253, 0.9843137255);
  color: #232323;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  gap: 8px;
  transition: all 0.25s ease-in-out;
}
.container button#payBtn .btn-text {
  text-wrap: nowrap;
  letter-spacing: 0.5px;
  line-height: 42px;
  margin-right: 12px;
  font-size: 20px;
  overflow-x: hidden;
  z-index: 2;
}
.container button#payBtn .overlay {
  position: absolute;
  display: flex;
  align-items: center;
  left: 12px;
  height: 42px;
  width: 42px;
  scale: 0.5;
  border-radius: 50px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
.container button#payBtn .btn-icon {
  height: 42px;
  width: 42px;
  display: grid;
  border-radius: 50px;
  place-content: center;
  background: #007bff;
  color: #ffffff;
  z-index: 2;
  transition: all 0.25s ease-in-out;
}
.container button#payBtn .btn-icon i {
  font-size: 24px;
  width: 42px;
  height: 42px;
  display: grid;
  place-content: center;
}
.container button#payBtn:hover {
  color: #ffffff;
}
.container button#payBtn:hover .btn-icon {
  background: #ffffff;
  color: #1a1a1a;
}
.container button#payBtn:hover .overlay {
  width: 150px;
  scale: 2.5;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #b18830 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #9d8244 62.5%, #7d642b 100%);
}
.container .coupon-code-box {
  max-width: 320px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 4px;
  border-radius: 12px;
  gap: 4px;
  background: #303030;
}
.container .coupon-code-box .form-group {
  margin-bottom: 0;
}
.container .coupon-code-box .form-group input {
  border-radius: 8px;
  background: transparent;
  border: 0;
  outline: none;
  font-size: 1.05rem;
  width: 100%;
  box-shadow: none;
  color: white;
  padding: 8px 12px;
  font-family: "Poppins", sans-serif;
}
.container .coupon-code-box .form-group input.is-invalid {
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.1019607843);
}
.container .coupon-code-box .form-group ::-moz-placeholder {
  color: #8a8a8a;
  opacity: 1; /* Firefox */
}
.container .coupon-code-box .form-group ::placeholder {
  color: #8a8a8a;
  opacity: 1; /* Firefox */
}
.container .coupon-code-box .form-group ::-ms-input-placeholder { /* Edge 12 -18 */
  color: #8a8a8a;
}
.container .coupon-code-box button#applyCodeBtn {
  padding: 4px 12px;
  border-radius: 8px;
  border: 0;
  outline: none;
  background: #3e3e3e;
  color: #f8f9fa;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.container .coupon-code-box button#applyCodeBtn:hover {
  background: #007bff;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .container {
    min-height: 50vh;
    padding: 50px 12px;
  }
  .container #headerLogo {
    margin-bottom: 24px;
    height: 32px;
  }
  .container #headerLogo img {
    height: 32px;
  }
  .container #headerLogo .logo-icon {
    height: 24px;
  }
  .container h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 24px;
    letter-spacing: 0;
  }
  .container h3 {
    font-size: 1.2rem;
    line-height: 1.75rem;
    margin-bottom: 16px;
    letter-spacing: 0;
  }
  .container p {
    font-size: 14px;
    line-height: 18px;
  }
  .container button#payBtn {
    margin: 32px auto;
  }
  .container button#payBtn .overlay {
    scale: 0.5;
  }
}/*# sourceMappingURL=business_registration_payment.css.map */