@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
header {
  width: 100%;
  padding: 24px 12px;
}
header .logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
header .logo img {
  height: 40px;
  width: auto;
}
header nav {
  padding: 24px 0 0 0;
  max-width: 1000px;
  margin: 0 auto;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
header nav ul li a {
  color: #060606;
  padding: 8px 16px 8px 12px;
  border-radius: 50px;
  background: #dcdee8;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  -moz-column-gap: 2px;
       column-gap: 2px;
  font-family: "poppins", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border: 1px solid #ffffff;
  transition: all 0.25s ease-in-out;
}
header nav ul li a i {
  color: rgb(108, 108, 108);
  transition: all 0.25s ease-in-out;
  height: 24px;
  width: 24px;
  display: grid;
  place-items: center;
}
header nav ul li a span {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
header nav ul li a:hover {
  background: #ffffff;
  color: #282828;
}
header nav ul li a:hover i {
  color: #141414;
}
header nav ul li a.active {
  background: #2e2e2e;
  color: #fff;
}
header nav ul li a.active i {
  color: #fff;
}

footer .footer {
  padding: 24px;
  text-align: center;
}
footer .footer p {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #282828;
  margin-bottom: 0;
}

@font-face {
  font-family: "Geist";
  src: url("https://eventic-webapp.s3.ap-south-1.amazonaws.com/static/fonts/Geist/GeistVariableVF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Google-sans";
  src: url("https://eventic-webapp.s3.ap-south-1.amazonaws.com/static/fonts/google-sans-cufonfonts/ProductSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("https://eventic-webapp.s3.ap-south-1.amazonaws.com/static/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Platypi";
  src: url("https://eventic-webapp.s3.ap-south-1.amazonaws.com/static/fonts/Platypi/static/Platypi-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro", "SF Pro Text", "Myriad Set Pro", system-ui, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  src: url("https://eventic-webapp.s3.ap-south-1.amazonaws.com/static/fonts/SF-Pro/SFPRODISPLAYREGULAR.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Great Vibes";
  src: url("https://eventic-webapp.s3.ap-south-1.amazonaws.com/static/fonts/great-vibes/GreatVibes-Regular.ttf") format("truetype");
  font-weight: normal;
}
.geist {
  font-family: "Geist", "Open Sans", sans-serif !important;
}

.google-sans {
  font-family: "Google-sans", "Open Sans", sans-serif !important;
}

.poppins {
  font-family: "Poppins", sans-serif !important;
}

.roboto {
  font-family: "Roboto", sans-serif !important;
}

.platypi {
  font-family: "Platypi", sans-serif !important;
}

.sf-pro {
  font-family: "SF Pro", "Open Sans", Helvetica, sans-serif !important;
}

.playfair {
  font-family: "Playfair Display", serif !important;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif !important;
}

.great-vibes {
  font-family: "Great Vibes" !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "SF Pro", "Open Sans", Helvetica, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(217, 224, 231);
  border-radius: 8px;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(217, 224, 231);
  border-radius: 8px;
}

body {
  background: #eceef3 !important;
}
body main {
  max-width: 1000px;
  padding: 12px;
  margin: 0 auto;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
body main .main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main .main-header h1 {
  font-size: 3rem;
  margin-bottom: 0;
  color: #252525;
  font-family: "Poppins", sans-serif;
}
body main .main-header .save-btn {
  border: none;
  outline: none;
  text-decoration: none;
  background: #4364d3;
  color: white;
  border-radius: 8px;
  letter-spacing: 0.03em;
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  transition: all 0.25s ease-in-out;
}
body main .main-header .save-btn span {
  font-size: 16px;
  line-height: 16px;
}
body main .main-header .save-btn i {
  font-size: 16px;
}
body main .main-header .save-btn:hover {
  color: white;
  background: #2b4cba;
}
body main .main-header .save-btn:disabled {
  cursor: not-allowed;
  background: #738feb;
}
body main h2 {
  margin-bottom: 24px;
  color: #252525;
  font-family: "Poppins", sans-serif;
}
body main .form-group {
  margin-bottom: 18px;
}
body main label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
  display: block;
  color: #434343;
  letter-spacing: 0.03em;
}
body main label span.star {
  color: #ff0000;
}
body main label span.note {
  color: #818181;
  font-size: 14px;
}
body main input[type=checkbox], body main input[type=radio], body main input[type=checkbox]:hover, body main input[type=radio]:hover {
  border: none;
}
body main .form-check-label {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body main input.q-control {
  border: none;
  border-bottom: 2px solid rgba(121, 121, 121, 0.2901960784);
  outline: none;
  border-radius: 0;
  box-shadow: none;
  padding: 4px 0 8px 0;
  font-size: 18px;
  letter-spacing: 0.02em;
  width: 100%;
  background: transparent;
  color: #000000;
  transition: all 0.25s ease-in-out;
}
body main input.q-control:hover, body main input.q-control:focus {
  box-shadow: none !important;
  border-bottom: 2px solid #4364d3;
  animation: appearBottomBorderLine 0.5s ease-in-out;
}
body main input[type=number].q-control::-webkit-inner-spin-button,
body main input[type=number].q-control::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
body main select.q-control {
  border: none;
  border-bottom: 2px solid rgba(121, 121, 121, 0.2901960784);
  outline: none;
  border-radius: 0;
  padding: 6px 0 10px 0;
  font-size: 18px;
  letter-spacing: 0.02em;
  width: 100%;
  background: transparent;
  color: #000000;
  transition: all 0.25s ease-in-out;
}
body main select.q-control option {
  color: #000000;
  letter-spacing: 0.02em;
}
body main select.q-control:hover, body main select.q-control:focus {
  animation: appearBottomBorderLine 0.5s ease-in-out;
  border-bottom: 2px solid #4364d3;
}
@keyframes appearBottomBorderLine {
  0% {
    border-width: 0%;
  }
  100% {
    border-width: 100%;
  }
}
body main .text-box {
  width: 100%;
  background: #f1f3f5;
  padding: 12px 8px 8px 8px;
  border-radius: 12px;
  transition: all 0.25s ease-in-out;
}
body main .text-box .input-box input {
  font-size: 16px;
  padding: 8px 8px 8px 32px !important;
  border-radius: 8px;
}
body main .text-box:hover, body main .text-box:focus-within {
  background: #ecf0f3;
}
body main textarea {
  width: 100%;
  padding-right: 12px;
  min-height: 80px;
  max-height: 320px;
  letter-spacing: 0.03em;
  overflow-y: scroll;
  font-size: 16px;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  resize: none;
  transition: all 0.25s ease-in-out;
}
body main textarea.q-control {
  background-color: #f7f7f7;
  padding: 8px;
}
body main textarea::-webkit-scrollbar {
  width: 8px;
  height: 0;
}
body main textarea::-webkit-scrollbar-thumb {
  background-color: rgb(217, 224, 231);
  border-radius: 8px;
}
body main input.form-check-input {
  box-shadow: none;
}
body main input.w-sm {
  width: 120px !important;
}
body main input.w-md {
  width: 280px !important;
}
body main textarea.h-sm {
  height: 80px !important;
}
body main textarea.h-md {
  height: 160px !important;
}
body main textarea.h-lg {
  height: 240px !important;
}
body main input::-webkit-outer-spin-button,
body main input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body main input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 768px) {
  body main .main-header h1 {
    font-size: 2rem;
  }
}
main #addPhotoModal .modal-body {
  max-height: 70vh;
  overflow-y: scroll;
}
main #addPhotoModal .modal-body .img-card {
  margin-bottom: 16px;
}
main #addPhotoModal .modal-body .img-card input[type=file] {
  margin-bottom: 8px;
  box-shadow: none;
}
main #addPhotoModal .modal-body .img-card img {
  border-radius: 16px;
  cursor: pointer;
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background: url("https://eventic-webapp.s3.ap-south-1.amazonaws.com/static/assets/defaults/1x1.png") no-repeat center center;
}
main #addPhotoModal .modal-body .img-card .text-box {
  padding: 8px 8px 8px 12px;
}
main #addPhotoModal .modal-body .img-card .text-box textarea {
  min-height: 95px;
  max-height: 95px !important;
}
main #addPhotoModal .modal-body .img-card:last-child {
  margin-bottom: 0;
}
main #galleryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  margin-top: 12px;
}
main #galleryContainer .portfolio-img {
  position: relative;
  aspect-ratio: 1/1;
  cursor: pointer;
  border-radius: 18px;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}
main #galleryContainer .portfolio-img img {
  border-radius: 12px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main #galleryContainer .portfolio-img .overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding: 24px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.2156862745);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all 0.25s ease-in-out;
}
main #galleryContainer .portfolio-img .overlay .img-description {
  margin-bottom: 0;
  line-height: 28px;
  font-size: 1rem;
  color: white;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
main #galleryContainer .portfolio-img .overlay .img-category {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  letter-spacing: 0.05em;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  color: white;
}
main #galleryContainer .portfolio-img:hover .overlay {
  display: block;
  height: 100%;
  animation: appearFromBottom 0.25s ease-in-out;
}
main #galleryContainer .portfolio-img:hover .overlay .img-description {
  animation: appearFromBottom 0.25s ease-in-out;
}
@keyframes appearFromBottom {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  main #addPhotoModal .modal-body .img-card img {
    height: 100px;
  }
  main #galleryContainer {
    grid-template-columns: 1fr 1fr;
  }
  main #galleryContainer .portfolio-img {
    border-radius: 12px;
  }
  main #galleryContainer .portfolio-img .overlay {
    padding: 8px;
  }
  main #galleryContainer .portfolio-img .overlay .img-description {
    font-size: 1rem;
  }
}/*# sourceMappingURL=gallery.css.map */