@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto:wght@400;700&family=Poppins:wght@400;600;700&display=swap');

$primary-font: 'Poppins', sans-serif; // Updated font family
$secondary-color: rgb(92, 3, 3);
$highlight-color: goldenrod;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    scrollbar-width: none;
}

.container {
    text-align: center;
    width: 100vw;
    height: auto;
    padding: 20px;
}

.title {
    max-width: 540px;
    margin: 0 auto;
    margin-top: 70px;
    font-size: 3.5rem;
    text-align: center;
    font-family: $primary-font;
    font-weight: 900;
    line-height: 1.2;
    color: $secondary-color;
}


h2 {
    margin-top: 40px;
    font-size: 4.7rem;
    font-family: $primary-font;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgb(70, 51, 2);
}

.and {
    color: $highlight-color;
padding: 10px 30px 10px 30px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
}

.couple {
    height: 320px;
    margin: 5px 60px;
}

.text {
    padding: 40px 18px;
    h3 {
        font-family: $primary-font;
        font-weight: 800;
        font-size: 45px;
    }

    h4 {
        font-family: $primary-font;
        font-size: 30px;
        font-weight: 600;
    }

    p {
        font-family: $primary-font;
        font-size: 25px;
        font-weight: 100;
    }
}
.date {
    font-family: $primary-font;
    font-size: 18px;
    font-weight: 100;
    padding: 5px;
}
.mehendi {
    font-family: $primary-font;
    color: darkgreen;
}

.haldi {
    font-family: $primary-font;
    color: rgb(136, 136, 8);
}

.sangeet {
    font-family: $primary-font;
    color: rgb(163, 10, 10);
}

.phere {
    font-family: $primary-font;
    color: rgb(74, 1, 74);
}
.address {
    max-width: 500px;
    margin: 0 auto;
    font-family: $primary-font;
    font-size: 2rem;
    font-weight: 100;
    padding: 5px;
}

.bg-flower {
    &-top-left, &-top-right, &-bottom-left, &-bottom-right {
        position: absolute;
        width: 50%;
    }

    &-top-left {
        top: -100px;
        right: -100px;
        transform: rotate(180deg);
    }

    &-top-right {
        top: -100px;
        left: -100px;
        transform: rotate(180deg);
    }

    &-bottom-left {
        bottom: -1200px;
        left: -120px;
    }

    &-bottom-right {
        bottom: -1200px;
        right: -120px;
    }
}

// Responsive Styles
@media (max-width: 768px) {
    .title {
        max-width: 300px;
        font-size: 2rem;
        padding-top: 15px;
        line-height: 2rem;
        margin-bottom: 25px;
    }

    h2 {

        max-width: 200px;
        margin: 0 auto;
        font-size: 2.2rem;
     
    }
    .and {
        font-size: 2.2rem;
        
    }


    .couple {
        height: 200px;
        margin: 5px 0 5px 0;
    }

    .text {
        h3 {
            font-size: 28px;
        }

        h4 {
            font-size: 18px;
        }

        p {
            font-size: 14px;
        }
    }

    .bg-flower {
        &-top-left, &-top-right, &-bottom-left, &-bottom-right {
            width: 50%;
            position: absolute;
        }

        &-top-left {
            top: 0px;
            right: -15px;
        }
        &-top-right{
            top: 0px;
            left: -15px;
        }

        &-bottom-left  {
            bottom: -580px;
            left: -15px;
        }
        &-bottom-right{
            bottom: -580px;
            right: -15px;

        }
      
    }
    .address {
        margin-top: 18px;
        max-width: 250px;
        font-size: 1.2rem;
    }
}

