{% extends 'dashboard/cms/base.html' %}{% load static %}
{% block title %}Dashborad Media | Eventic{% endblock %}

{% block content %}
<div class="content-block">
    <div class="main-header" id="MH01">
        <div class="header-top">
            <div class="header-title">
                {% if request.META.HTTP_REFERER %}
                <a href="{{ request.META.HTTP_REFERER }}" class="back-btn"><i class="bi bi-arrow-left"></i></a>
                {% else %}
                <a href="{% url 'dashboard:Articles' %}" class="back-btn"><i class="bi bi-arrow-left"></i></a>
                {% endif %}
                <h1>Media</h1>
            </div>
            <button type="button" class="save-btn" data-bs-toggle="modal" data-bs-target="#addPhotoModal"><i class="bi bi-images"></i> Upload</button>
        </div>
        <div class="header-bottom">
            <ul>
                <li><a href="{% url 'dashboard:Articles' %}"><i class="bi bi-file-earmark-richtext me-1"></i>Articles</a></li>
                <li><a href="{% url 'docs:Dashboard' %}"><i class="bi bi-file-earmark-text me-1"></i>Docs</a></li>
                {% if IN_DEVELOPMENT and HIDDEN %}
                <li><a href="{% url 'docs:Dashboard' %}"><i class="bi bi-file-text me-1"></i>Blogs</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="main-body pb-5">
        {% include 'vendor/comps/messages.html' %}
        {% if gallery|length > 0 %}
        <div id="galleryContainer">
            {% for image in gallery %}
            {% if forloop.counter <= 9 %}
            <div class="portfolio-img">
                <img src="{{ image }}" onerror=`this.src="{% static 'assets/defaults/1x1.png' %}" ;` class="rounded-3" alt="{{ image.description }}" width="100%" height="auto" loading="lazy" decoding="async">
                <div class="overlay">
                    <p class="img-description">{{ image.description | truncatechars:"50" }}</p>
                    <div class="overlay-icons mt-2">
                        <a href="{% url 'photographer:GalleryDelete' image.id %}" class="btn btn-danger shadow-none">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <button type="button" class="btn btn-primary mt-3 show-more-btn" id="showMoreBtn" data-bs-toggle="modal" data-bs-target="#galleryModal"><i class="bi bi-images"></i>&nbsp; Show More</button>
        {% else %}
        <div class="no-data">
            <h3>(｡•́︿•̀｡)</h3>
            <p class="mb-0 text-secondary">No Media Found</p>
            <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#addPhotoModal"><i class="bi bi-cloud-arrow-up"></i>&nbsp; Upload</button>
        </div>  
        {% endif %}
    </div>
</div>
<!-- Add Photos Modal -->
<div class="modal fade" id="addPhotoModal" tabindex="-1" aria-labelledby="addPhotoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content rounded-5 p-md-3 p-2">
            <div class="modal-header border-0">
                <h1 class="modal-title fs-5" id="addPhotoModalLabel"><i class="bi bi-images"></i>&nbsp; Add Photos</h1>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body custom-scrollbar p-0">
                    <div class="drop-zone" id="dropZone">
                        <p class="text-dark">Drag & Drop images here or click to select</p>
                        <div class="text-input text-secondary"><small>Max file size: <span class="text-dark">5 MB</span> for each image</small></div>
                        <input type="file" name="imageFiles" id="fileInput" accept="image/*" multiple hidden>
                    </div>
                    <div class="image-cards" id="imageCards"></div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary shadow-none rounded-3"
                        name="add_images">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% if gallery|length > 0 %}
<div class="modal fade" id="galleryModal" tabindex="-1" aria-labelledby="galleryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="galleryModalLabel"><i class="bi bi-images"></i>&ensp;Gallery</h5>
                <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
            </div>
            <div class="modal-body">
                <div id="modalGalleryContainer">
                    <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for image in gallery %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ image.image.url }}" alt="{{ image.image.description }}">
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function autoResizeTextarea(textarea) {
        textarea.style.height = 'auto';
        textarea.style.height = textarea.scrollHeight + 'px';
    }

    function previewImage(input) {
        if (!checkFileSize(input)) {
            return;
        }
        var file = input.files[0];
        const id = input.id;
        var reader = new FileReader();

        reader.onload = function (e) {
            document.getElementById('label_' + id).src = e.target.result;
        };

        reader.readAsDataURL(file);
    }

    document.addEventListener('DOMContentLoaded', function () {
        const dropZone = document.getElementById('dropZone');
        const fileInput = document.getElementById('fileInput');
        const imageCardsContainer = document.getElementById('imageCards');
        let cardId = 0;  // To uniquely identify each card

        // When user clicks on drop zone, trigger file input
        dropZone.addEventListener('click', () => {
            fileInput.click();
        });

        // Handle file input change
        fileInput.addEventListener('change', handleFiles);

        // Handle drag-and-drop functionality
        dropZone.addEventListener('dragover', (e) => {
            e.preventDefault();
            dropZone.classList.add('dragover');
        });

        dropZone.addEventListener('dragleave', () => {
            dropZone.classList.remove('dragover');
        });

        dropZone.addEventListener('drop', (e) => {
            e.preventDefault();
            dropZone.classList.remove('dragover');
            const files = e.dataTransfer.files;
            handleFiles({ target: { files } });
        });

        // Function to handle files
        function handleFiles(e) {
            const files = e.target.files;
            let file_size_error = false;
            for (const file of files) {
                if (file.type.startsWith('image/')) {
                    // Check file size
                    if (file.size > 5 * 1024 * 1024) {
                        file_size_error = true;
                        continue;
                    } else {
                        // Create image card
                        createImageCard(file, cardId++);
                    }
                }
            }

            if (file_size_error) {
                alert('Some of your images are too large. File size should be less than 5MB.');
                return;
            }
        }

        // Function to create image card with provided structure
        function createImageCard(file, id) {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function (e) {
                const imageUrl = e.target.result;

                // Create the card structure
                const card = document.createElement('div');
                card.classList.add('img-card');
                
                card.innerHTML = `
                    <div class='row'>
                        <div class='col-5 col-md-6 pe-1'>
                            <label for="image${id}">
                                <img src="${imageUrl}" id="label_image${id}">
                            </label>
                            <input type='file' class='d-none' name="imageFile" accept="image/*" id="image${id}" onchange="previewImage(this)" data-index="${id}">
                        </div>
                        <div class='col-7 col-md-6 ps-1'>
                            <div class='form-group mb-0'>
                                <label for="describe${id}" class='form-label mb-0'>
                                    <div class='row'>
                                        <div class='col pe-1'>
                                            <i class='bi bi-card-text'></i>&nbsp; Describe
                                        </div>
                                        <div class='col-auto ps-1'>
                                            <button type='button' class='btn p-0 shadow-none text-danger remove-btn'><i class='bi bi-trash3'></i></button>
                                        </div>
                                    </div>
                                </label>
                                <div class='text-box'>
                                    <textarea class='autoResizeTextarea img-description' minlength='10' maxlength='150' name="imageDescription" id="describe${id}" placeholder='--' onkeyup='autoResizeTextarea(this);'></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                `;

                // Add the remove button functionality
                const removeBtn = card.querySelector('.remove-btn');
                removeBtn.addEventListener('click', () => {
                    card.remove();  // Remove the card when clicked
                });

                // Add the file to the input element's `files` property
                const inputFile = card.querySelector(`#image${id}`);
                const dt = new DataTransfer();  // Create a DataTransfer object to manipulate files
                dt.items.add(file);  // Add the file
                inputFile.files = dt.files;  // Assign the file to the input

                // Append the card to the image cards container
                imageCardsContainer.appendChild(card);
            };
        }
    });
    
    // JavaScript function to check file size
    function checkFileSize(file) {
        const input = file;
        const maxSize = 5 * 1024 * 1024; // 5MB in bytes

        if (input.files && input.files[0]) {
            const fileSize = input.files[0].size;

            if (fileSize > maxSize) {
                alert(
                    "The file size exceeds the 5MB limit. Please upload a smaller file."
                );
                input.value = ""; // Clear the input field
                return false;
            } else {
                return true;
            }
        }
    }
</script>
{% endblock %}