{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Policy for Vendors - Eventic</title>
    <link rel="stylesheet" href="{% static 'css/main/styles/TaC-PP.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/logos/eventic-golden-favicon.png' %}" type="image/x-icon">
    {% include 'main/utils/_google-analytics.html' %}
</head>
<body>
    <br><br>
    <header>
        <h4>Back to <a href="/">Homepage &#10531;</a></h4>
    </header><br><br><br>
    <main>
        <div>
            <h1>Welcome to our <span>Payment Policy</span></h1><br>
            <p>At Eventic, we strive to provide a seamless platform that connects you with potential clients while offering tools and features to enhance your professional experience. As part of our commitment to supporting your growth, we have established the following payment policy.</p>
        </div><br><br>
        <div>
            <h2>Platform Charges</h2><br>
           <p><strong>Monthly Subscription Fee:</strong> A flat rate of ₹99 per month will be charged for access to the Eventic platform. This fee covers your basic presence on the platform, including visibility to potential clients, and the ability to showcase your services.</p>
            </div><br><br>
        <div>
            <h2>Feature-Based Charges
            </h2><br>
           <p> <strong>Additional Features: </strong>
            Eventic offers a range of optional features designed to enhance your experience and help you manage your business more effectively. These features are available at varying rates, depending on the services you choose to utilize. Specific charges for each feature will be transparently communicated within the platform, allowing you to make informed decisions based on your needs.</p>
        </div><br><br>
        <div>
            <h2>Payment Terms</h2><br>
            <p><strong>Billing Cycle: </strong>
                The ₹99 platform charge and any additional feature-based charges will be billed on a monthly basis. Payments must be made through the payment methods available on the platform.</p>
                <br>
                <p><strong>Late Payments:</strong> In the event of a late payment, access to premium features may be temporarily suspended until the outstanding balance is cleared.</p>
        </div><br><br>
        <div>
            <h2> Platform Enhancements:</h2><br>
            <p><strong>Future Plans:</strong> We are continuously working to enhance our platform. In the future, we may introduce booking and payment processing features. However, during this phase, our focus remains on connecting you with potential clients.</p>
        </div><br><br>
        <div>
            <h2> Transparency and Trust:</h2><br>
            <p><strong>No Hidden Charges:</strong> There are no hidden charges or fees associated with using Eventic in this phase. Our goal is to support your business growth without adding any financial burden.</p><br>
            <p><strong>Client Communication:</strong> Since you will be managing your own payments and client relationships, we encourage clear and transparent communication with clients to ensure a smooth process.</p>
        </div><br><br>
        <div>
            <h2>Updates to Payment Policy:</h2><br>
            <p><strong>Policy Changes:</strong> As our platform evolves, we may update our payment policies to reflect new features and functionalities. We will notify you of any changes in advance.</p>
        </div><br><br>
        <div>
            <h2>No Booking Commissions

            </h2><br>
          <p><strong>Direct Contact: </strong> In the initial phase of our platform, Eventic will not be involved in booking transactions. Instead, we facilitate direct connections between event professionals and clients by providing your contact details. As such, no commissions will be charged on bookings made through our platform.</p>
        </div><br><br>
        <p>We value your partnership and are committed to providing a platform that supports your professional journey. Should you have any questions regarding our payment policy, please feel free to reach out to our support team.</p>
    </main><br><br>
    <footer>
        <h4>Back to <a href="/">Homepage &#10531;</a></h4>
    </footer><br><br><br><br>
</body>
</html>

