{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Commitment to Your Privacy: Read Our Privacy Policy - Eventic</title>
    <link rel="stylesheet" href="{% static 'css/main/styles/TaC-PP.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/logos/eventic-golden-favicon.png' %}" type="image/x-icon">
    {% include 'main/utils/_google-analytics.html' %}
</head>

<body>
    <br><br>
    <header>
        <h4>Back to <a href="/">Homepage &#10531;</a></h4>
    </header><br><br><br>
    <main>
        <div>
            <h1>Welcome to our <span>Privacy Policy</span></h1><br>
            <p>Eventic respects the privacy of its users and is committed to protecting your personal information. This
                Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use the
                Eventic platform (the "Platform"), which includes the website.
            </p>
        </div><br><br>
        <div>
            <h2>Information We Collect</h2><br>
            <p>We collect various types of information from users depending on how you interact with the Platform.
                Here's a breakdown:</p>
            <br>
            <ul>
                <li>
                    <h3>Information You Provide</h3>
                </li>
                <p>When you create an account, register as an Eventron, book services, or interact with the Platform,
                    you may provide us with information such as:
                    <br><br>
                <ol>
                    <li>Name</li>
                    <li>Email</li>
                    <li>Phone Number</li>
                    <li>Billing Address</li>
                    <li>Event Details (Clients)</li>
                    <li>Portfolio Information ( Eventrons) </li>
                    <li>Communication history with other users on the platform</li>
                </ol>
                </p><br>
                <li>
                    <h3>Information We Collect Automatically:</h3>
                </li><br>
                <p>As you use the Platform, we may collect certain information automatically, including:
                    <br><br>
                <ol>
                    <li>Device information (type, operating system, IP address)</li>
                    <li>Usage data (pages visited, features used, search queries)Geolocation data (with your consent)
                    </li>
                </ol>
                </p>
            </ul>
        </div><br><br>
        <div>
            <h2>Use of Information </h2><br>
            <p>We use the information we collect for various purposes, including: </p><br>
            <ol>
                <li>To provide and improve the Platform </li>
                <li>To connect Clients with Eventrons
                </li>
                <li>To facilitate communication between Clients and Eventrons
                </li>
                <li>To process payments
                </li>
                <li>To send you marketing communications (with your consent)
                </li>
                <li>To personalize your experience on the Platform
                </li>
                <li>To analyze trends and usage patterns
                </li>
                <li>To improve the security and functionality of the Platform
                </li>
            </ol>
        </div><br><br>
        <div>
            <h2>Disclosure of Information </h2><br>
            <p>We may disclose your information to third parties under the following circumstances:
            </p><br>
            <ol>
                <li>To service providers who help us operate the Platform
                </li>
                <li>To fulfill your requests for services (e.g., sharing event details with Eventrons)

                </li>
                <li>To comply with legal obligations or respond to court orders

                </li>
                <li>In the event of a merger, acquisition, or asset sale
                </li>
            </ol>
        </div><br><br>
        <div>
            <h2>Data Security
            </h2><br>
            <p>Eventic takes reasonable steps to protect your information from unauthorized access, disclosure,
                alteration, or destruction. However, no internet transmission or electronic storage method is completely
                secure. We cannot guarantee the absolute security of your information.
            </p>
        </div><br><br>
        <div>
            <h2>Cookies and Tracking Technologies
            </h2><br>
            <p>We use cookies and other tracking technologies to collect and store certain information. Cookies are
                small data files that are placed on your device when you visit a website. They can be used to remember
                your preferences, track your activity on the Platform, and understand how users interact with the
                Platform. You can choose to disable cookies in your browser settings. However, this may limit your
                ability to use certain features of the Platform.

            </p>
        </div><br><br>
        <div>
            <h2>
                Your Choices

            </h2><br>
            <p>You have choices regarding your information:

            </p><br>
            <ol>
                <li>You can access and update your account information at any time.

                <li>You can unsubscribe from marketing communications.


                </li>
                <li>You can request that we delete your information (subject to certain limitations).

                </li>

            </ol>
        </div><br><br>
        <div>
            <h2>Children's Privacy
            </h2><br>
            <p>Our Platform is not directed to children under the age of 13. We do not knowingly collect personal
                information from children under 13. If you are a parent or guardian and you believe your child has
                provided us with personal information, please contact us. We will take steps to delete the information
                from our systems.</p>
        </div><br><br>
        <div>
            <h2>Changes to this Privacy Policy
            </h2><br>
            <p>We may update this Privacy Policy from time to time. We will post any changes on this page and encourage
                you to review the Privacy Policy periodically.
            </p>
        </div><br><br>
        <div>
            <h2> Contact Us
            </h2><br>
            <p>If you have any questions about this Privacy Policy,<br>
                please contact us at <a href="mailto:contact@eventic.in">contact@eventic.in</a>
            </p>
        </div><br><br>
    </main>
    <footer>
        <h4>Back to <a href="/">Homepage &#10531;</a></h4>
    </footer><br><br><br><br>
</body>

</html>