{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refund Policy - Eventic</title>
    <link rel="stylesheet" href="{% static 'css/main/styles/TaC-PP.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/logos/eventic-golden-favicon.png' %}" type="image/x-icon">
    {% include 'main/utils/_google-analytics.html' %}
</head>
<body>
    <br><br>
    <header>
        <h4>Back to <a href="/">Homepage &#10531;</a></h4>
    </header><br><br><br>
    <main>
        <div>
            <h1>Welcome to our <span>Refund Policy</span></h1><br>
            <p>At Eventic, we value the trust and satisfaction of our event professionals. Our refund policy is designed to ensure fairness while maintaining the integrity of our platform services. Please review the following guidelines:</p>
        </div><br><br>
        <div>
            <h2>Monthly Platform Fees</h2><br>
           <p><strong>Non-Refundable Fees:</strong> The monthly platform fee of ₹99 is non-refundable. This fee grants you access to our platform's core features and services, which are available to you upon payment. Since these services are provided upfront, refunds will not be issued for the monthly fee once payment is made.</p>
            <br>
            <P><strong>Partial Refunds : </strong>In the case of any technical issues or disruptions in service that prevent you from accessing the platform or using its features, we may, at our discretion, offer a partial refund or credit towards future payments. Such requests will be reviewed on a case-by-case basis.
            </P>
            
            </div><br><br>
        <div>
            <h2>Additional Feature Charges
            </h2><br>
           <p> <strong>Non-Refundable Feature Charges:</strong>
            Charges for additional features used within the platform (e.g., premium listings, analytics tools) are also non-refundable. These features are considered consumed once they are activated or used by the event professional.</p>
            <br>
            <p><strong>Disputed Charges:</strong> If you believe there has been an error in billing or if you encounter an issue with a feature that was not delivered as described, please contact our support team within 7 days of the charge. We will review your request and determine if a refund or credit is applicable.</p>
           
        </div><br><br>
        <div>
            <h2>Future Refund Policies for Commission and Sponsored Ads    </h2><br>
            <p><strong>Commission-Based Fees:  </strong>
                Should our platform introduce a commission-based model in the future, any fees collected through this model will be subject to their own specific refund policies, which will be communicated at that time.</p>
                <br>
                <p><strong>Sponsored Ads: </strong> Payments made for sponsored ads or promotional services are typically non-refundable once the ad campaign has started. Exceptions may be made if the ad service is interrupted or not delivered as described.</p>
        </div><br><br>
        <div>
            <h2> How to Request a Refund</h2><br>
            <p><strong>Refund Requests:</strong> If you believe you are entitled to a refund under the terms outlined above, please contact our support team at <a href="mailto:contact@eventic.in">contact@eventic.in</a>. Include your account details, payment information, and a description of the issue. Our team will review your request and respond within 5-7 business days.</p>
        </div><br><br>
      <p>We appreciate your understanding and cooperation with our refund policy. Our goal is to provide a reliable and valuable platform for all event professionals, and we are committed to addressing any issues you may encounter in a fair and timely manner.</p>
    </main><br><br>
    <footer>
        <h4>Back to <a href="/">Homepage &#10531;</a></h4>
    </footer><br><br><br><br>
</body>
</html>

