{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legal Terms: Read Our Terms and Conditions - Eventic</title>
    <link rel="stylesheet" href="{% static 'css/main/styles/TaC-PP.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/logos/eventic-golden-favicon.png' %}" type="image/x-icon">
    <meta name="robots" content="noindex, follow">
    {% include 'main/utils/_google-analytics.html' %}
</head>
<body>
    <br><br>
    <header>
        <h4>Back to <a href="/">Homepage &#10531;</a></h4>
    </header><br><br><br>
    <main>
        <div>
            <h1>Welcome to our <span>Terms of Service</span></h1>
        </div><br><br>
        <div>
            <h2>Your privacy is critically important to us.</h2><br>
            <p>Welcome to Eventic! These Terms of Service ("Terms") govern your access and use of the Eventic platform (the "Platform"), which includes the website. By accessing or using the Platform, you agree to be bound by these Terms. If you don't agree to all of the Terms, you are not authorized to use the Platform.</p><br>
        </div><br><br>
        <div>
            <h2>Definitions</h2><br>
            <ul>
                <li><h3>Client</h3></li>
                <p>refers to a user of the Platform seeking to hire event professionals for their event planning needs.</p><br>
               <li><h3>Eventron</h3></li>
               <p>is an event professional who has registered on the Platform to showcase their skills and connect with Clients.</p><br>
               <li><h3>Eventron Score</h3></li> 
               <p>is a unique metric that Eventic generates based on an Eventron's experience, work quality, and client reviews. It helps Clients assess the qualifications of Eventrons.</p><br>
              <li><h3>Platform</h3></li> 
              <p>encompasses the Eventic website and any mobile applications that allow users to interact with Eventic's services.</p><br>
              <li><h3>Subscription</h3></li>
              <p>refers to a paid plan offered by Eventic that provides certain features and benefits to both Clients and Eventrons, depending on the chosen plan.</p><br>

            </ul>
        </div><br><br>
        <div>
            <h2>User Accounts</h2><br>
            <p>To access certain features of the Platform, you may be required to create an account ("Account").</p>
<br>
               <p> When creating your Account, you are responsible for providing accurate and complete information.</p>
                <br>
                <p> You are also responsible for maintaining the confidentiality of your account information, including your password. It's important to remember that you are accountable for all activities that occur under your Account.</p>
        </div><br><br>
        <div>
            <h2>Use of the Platform</h2><br>
            <p>A Eventic strives to provide a platform that fosters a collaborative and productive environment for event planning. Here's a breakdown of how different user groups can leverage the Platform:</p>
        <br>    <ul>
                <li><h3>Clients</h3></li>
                <p>can search for Eventrons using various criteria to find professionals who align with their event's needs and preferences. They can also manage event planning tasks, communicate directly with Eventrons through the platform's messaging system, and streamline the overall event coordination process.

                </p>
                <br>
                <li><h3>Eventrons</h3></li>
                <p>can create a profile to showcase their experience, skills, and portfolio. This allows them to connect with potential Clients, receive booking requests, and manage their event schedules. Eventic also provides Eventrons with tools to build a customized website to further enhance their online presence and credibility.
                    <br>
                </p>
            </ul>
        </div><br><br>
        <div>
            <h2>Content</h2><br>
           <p>The Platform allows users to upload or post content, which can include photos, videos, descriptions of services offered, and client reviews. Here are some key points to remember regarding content on Eventic:</p>
            <br>
        <p>You are solely responsible for all content you upload or post to the Platform ("Content").</p>
    <br>
<p>By uploading Content, you warrant that you have the legal right to do so and that the Content does not infringe on any third party's rights. This includes copyrights, trademarks, and privacy rights.</p> 
<br>
<p>
    Eventic reserves the right to remove or edit any Content that it deems to be unlawful, offensive, or in violation of these Terms.
</p>    <br>   </div><br><br>
        <div>
            <h2>Disclaimers</h2><br>
            <p>Eventic provides the Platform "as is" and without warranties of any kind, express or implied. This means we cannot guarantee that the Platform will always be available, function flawlessly, or meet your specific needs. We disclaim all warranties, including but not limited to warranties of merchantability, fitness for a particular purpose, and non-infringement.</p>
        </div><br><br>
        <div>
            <h2>Limitation of Liability</h2><br>
            <p>Eventic strives to create a secure and reliable platform. However, we cannot be held liable for any damages arising out of or related to your use of the Platform. This includes, but is not limited to, damages for lost profits, business interruption, or personal injury.</p>
        </div><br><br>
        <div>
            <h2>Term and Termination</h2><br>
            <p>These Terms will remain in effect until terminated by you or Eventic.

            </p><br>
            <p>You have the right to terminate your Account at any time.</p><br>
            <p>Eventic also reserves the right to terminate your access to the Platform for any reason, at any time, with or without notice. This may include situations where you breach these Terms, violate applicable laws, or engage in conduct that disrupts the harmony of the Eventic community.</p>
  <br>      </div><br><br>
        <div>
            <h2>Governing Law</h2><br>
            <p>These Terms shall be governed by and construed in accordance with the laws of India.</p>
        </div><br><br>
        <div>
            <h2>Dispute Resolution</h2><br>
           <p>Any dispute arising out of or relating to these Terms will be resolved by arbitration in accordance with the Arbitration and Conciliation Act, 1996. Arbitration is a formal process where a neutral third party makes a binding decision on the dispute.</p>
        </div><br><br>
        <div>
            <h2>Entire Agreement</h2><br>
            <p>These Terms constitute the entire agreement between you and Eventic regarding your use of the Platform. They supersede any prior or contemporaneous communications or agreements, whether oral or written.</p>
        </div><br><br>
        <div>
            <h2>Changes to the Terms</h2><br>
           <p>Eventic reserves the right to update these Terms at any time. We will notify you of any changes by posting the new Terms on the Platform. Your continued use of the Platform after any such changes constitutes your acceptance of the new Terms.</p>
        </div><br><br>
    </main>
    <footer>
        <h4>Back to <a href="/">Homepage &#10531;</a></h4>
    </footer><br><br><br><br>
</body>
</html>