@import "../../core/scss/_theme.scss";


#content_container {
    padding: 0 16px;
    padding-bottom: 50px;
    .edit-box {
        margin-bottom: 16px;
        input[type=radio] {
            display: none;
        }
        input[type=radio]:checked + label {
            border: 1px solid $secondary-color;
            background: $light-color;
        }
        label.radio-label {
            width: 100%;
            border-radius: 8px;
            cursor: pointer;
            background: $light-color;
            transition: all 0.25s ease-in-out;
            .box {
                padding: 0;
            }
            .card-main-container {
                padding: 12px;
            }
        }
        label:hover {
            background: $light-color;
        }
        .img-center {
            width: 100%;
        }
        .img-fr {
            float: right;
            max-height: 200px;
            width: auto;
        }
        .img-fl {
            float: left;
            max-height: 200px;
            width: auto;
        }
        .editor {
            max-height: 280px;
            min-height: 100px;
            overflow: scroll;
        }
        textarea {
            min-height: 100px;
            height: calc(100% - 40px);
        }
        .output {
            padding: 12px 16px;
            background: #fff;
        }
        .editor, .output {
            h1, h2, h3, h4, h5, h6, p, a {
                font-family: $geist;
            }
            p { text-align: start; }
            ul, ol {
                padding-left: 20px;
                li {
                    a {
                        text-decoration: none;
                        color: #eee;
                        font-size: 18px;
                        letter-spacing: 0.25px;
                        transition: all 0.1s ease-out;
                    }
                    a:hover {
                        color: $primary-color;
                        text-decoration: none;
                    }
                }
            }
            ol {
                li {
                    margin-bottom: 18px;
                    p {
                        font-size: 16px;
                        line-height: 1.4;
                    }
                    h6, .h6 {
                        color: rgba(0, 0, 0, 0.8);
                        font-weight: 600;
                        margin-bottom: 0.2rem;
                        font-family: poppins, sans-serif;
                    }
                }
            }
            ul { list-style:disc; }
            a {
                text-decoration: none;
                color: $primary-color;
                transition: all 0.2s ease-in-out;
            }
            a:hover, a:active {
                color: $primary-color-hover;
            }
            .sub-title {
                font-family: poppins, sans-serif;
                font-size: 2.5rem;
                color: #111;
                a {
                    font-family: poppins, sans-serif;
                }
                span {
                    font-weight: 300;
                }
            }
            .btn-link {
                color: $primary-color;
                font-weight: 500;
                font-size: 18px;
            }
            .btn-link:hover {
                color: $primary-color-hover;
            }
        }
    }
}