{% extends 'user/cms/base.html' %}{% load static auth_extras %}
{% block title %}Profile - Eventic{% endblock %}

{% block content %}
<div class="content-block">
    <div class="main-header" id="MH01">
        <div class="header-top">
            <h1>Profile</h1>
        </div>
    </div>
    <div class="main-body">
        {% include 'vendor/comps/messages.html' %}
        {% if pwd_errors %}
        {% for error in pwd_errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="btn-close shadow-none" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        <form method="post" action="{% url 'user:Profile' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <section class="address_details_section">
                <div class="address_details">
                    <h2><i class="bi bi-person-vcard"></i>&nbsp;User Info</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="image-input-group">
                                    <label for="profile_picture">
                                        <div class="image-preview-box">
                                            <img src="{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}{% static 'assets/defaults/no-profile.png' %}{% endif %}" id="label_profile_picture" alt="Profile Picture of {{ user.first_name }} at Eventic">
                                            <span class="image-label">User Profile</span>
                                        </div>
                                    </label>
                                    <button type="button" class="{% if user.profile_picture %}d-block{% else %}d-none{% endif %}" name="remove_file" id="remove_file" data-id="profile_picture" data-image-src="{% static 'assets/defaults/no-profile.png' %}" data-file-exists="{% if service.thumbnail %}true{% else %}false{% endif %}" onclick="removeFile(this)"><i class="bi bi-trash3"></i>&nbsp;Remove</button>
                                    <input type="file" name="profile_picture" id="profile_picture" class="d-none" accept="image/*" onchange="previewImage(this);">
                                    <input type="hidden" class="d-none" name="file_exists" id="file_exists" value="{% if user.profile_picture %}unchanged{% else %}nofile{% endif %}">
                                    <div class="form-text">Profile Picture should be in 1:1 ratio. And should be less than 500 KB</div>
                                    {% if errors.profile_picture %}
                                    <div class="form-text text-danger">{{ errors.profile_picture }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="username">Username <span class="star">*</span></label>
                                        <input type="text" class="q-control" name="username" id="username" value="{{ user.username }}" placeholder="--" required>
                                        <div class="errors">
                                            {% if errors.username %}
                                                {% if errors.username|length > 1 %}
                                                    {% for error in errors.username %}
                                                    <ul class="m-0 ps-3">
                                                        <li class="text-danger form-text m-0 p-0">{{ error }}</li>
                                                    </ul>
                                                    {% endfor %}
                                                {% else %}
                                                <div class="text-danger form-text">{{ errors.username | first }}</div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email"><i class="bi bi-envelope"></i>&nbsp; Email <span class="star">*</span></label>
                                        <input type="email" class="q-control" name="email" value="{{ user.email }}" placeholder="--" required>
                                        <div class="errors">
                                            {% if errors.email %}
                                                {% if errors.email|length > 1 %}
                                                    {% for error in errors.email %}
                                                    <ul class="m-0 ps-3">
                                                        <li class="text-danger form-text m-0 p-0">{{ error }}</li>
                                                    </ul>
                                                    {% endfor %}
                                                {% else %}
                                                <div class="text-danger form-text">{{ errors.email | first }}</div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="first_name">First Name <span class="star">*</span></label>
                                        <input type="text" class="q-control" name="first_name" value="{{ user.first_name }}" placeholder="--" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="last_name">Last Name <span class="star">*</span></label>
                                        <input type="text" class="q-control" name="last_name" value="{{ user.last_name }}" placeholder="--" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phone">Phone No. <span class="star">*</span></label>
                                        <div class="row align-items-center">
                                            <div class="col-auto pe-1">
                                                <label for="phone" class="pb-1">+91</label>
                                            </div>
                                            <div class="col ps-1">
                                                <input type="number" class="q-control" name="phone" value="{{ user.phone }}" placeholder="--" required>
                                            </div>
                                        </div>
                                        <div class="errors">
                                            {% if errors.phone %}
                                                {% if errors.phone|length > 1 %}
                                                    {% for error in errors.phone %}
                                                    <ul class="m-0 ps-3">
                                                        <li class="text-danger form-text m-0 p-0">{{ error }}</li>
                                                    </ul>
                                                    {% endfor %}
                                                {% else %}
                                                <div class="text-danger form-text">{{ errors.phone | first }}</div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary shadow-none rounded-5 px-3 py-2 me-1" name="update_user_details"><i class="bi bi-pencil-square"></i>&nbsp; Update</button>
                                        <button type="button" class="btn btn-outline-dark shadow-none rounded-5 px-3 py-2" data-bs-toggle="modal" data-bs-target="#changePasswordModal"><i class="bi bi-lock"></i>&nbsp; Update Password</button>
                                    </div>
                                    <p>Forgot Password? <a href="{% url 'account_reset_password' %}">Click here</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
        {% if not request.user|has_group:"vendor" and not request.user.is_staff and IN_DEVELOPMENT and HIDDEN %}
        <section id="businsess_register_section">
            <div class="box">
                <h3>Level Up Your Events: Join the Pro Network</h3>
                <p>Showcase your skills, connect with clients, and book gigs. It's free!</p>
                <a href="{% url 'auth:business_registration' %}?next={% url 'auth:business_registration' %}" role="button" class="link-btn"><i class="bi bi-person-check-fill"></i> Join Now</a>
            </div>
        </section>
        {% endif %}
    </div>
</div>

<!-- Password Modal -->
<div class="modal fade" id="changePasswordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-5 p-3">
        <div class="modal-header">
          <h5 class="modal-title" id="changePasswordModalLabel"><i class="bi bi-lock-fill"></i>&nbsp; Change Password</h5>
          <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" action="{% url 'user:Profile' %}">
            {% csrf_token %}
            <div class="modal-body">
                <div class="form-group">
                    <label for="old_password">Old Password <span class="star">*</span></label>
                    <div class="password-group">
                        <input type="password" class="q-control" name="old_password" id="old_password" placeholder="******" required autocomplete="off">
                        <i class="bi bi-eye-slash" id="toggleOldPassword" data-input-id="old_password" onclick="toggleShowPassword(this);"></i>
                    </div>
                </div>
                <div class="form-group">
                    <label for="new_password">New Password <span class="star">*</span></label>
                    <div class="password-group" id="passwordInput">
                        <input type="password" class="q-control" name="new_password" id="new_password" placeholder="******" required autocomplete="off">
                        <i class="bi bi-eye-slash" id="toggleNewPassword" data-input-id="new_password" onclick="toggleShowPassword(this);"></i>
                    </div>
                    <div class="errors"></div>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password <span class="star">*</span></label>
                    <div class="password-group" id="confirmPasswordInput">
                        <input type="password" class="q-control" name="confirm_password" id="confirm_password" placeholder="******" required autocomplete="off">
                        <i class="bi bi-eye-slash" id="toggleConfirmPassword" data-input-id="confirm_password" onclick="toggleShowPassword(this);"></i>
                    </div>
                    <div class="errors"></div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-primary border-0 shadow-none" name="change_password" id="changePassword">Save</button>
                    <button type="button" class="btn btn-outline-light border-0 text-dark shadow-none" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
        const usernameInput = document.getElementById("username");
        const errorMessage = document.getElementById("error-message");

        // Regex for allowed characters (letters, numbers, underscores, dots and dashes)
        const validPattern = /^[a-zA-Z0-9_.-]*$/;

        usernameInput.addEventListener("input", () => {
            const currentValue = usernameInput.value;
            
            if (currentValue === "") {
                errorMessage.style.display = "block";
                errorMessage.textContent = "Please select a username.";
            } else {
                errorMessage.style.display = "none";
            }

            // Check if the value contains invalid characters
            if (!validPattern.test(currentValue)) {
                // Remove invalid characters
                usernameInput.value = currentValue.replace(/[^a-zA-Z0-9_.-]/g, "");

                // Show error message
                errorMessage.style.display = "block";
                errorMessage.textContent = "Special characters are not allowed. Only letters, numbers, underscores, dots and dashes are permitted.";
            } else {
                // Hide error message
                errorMessage.style.display = "none";
            }
        });
    });

    function toggleShowPassword(toggle) {
        const input_id = toggle.getAttribute('data-input-id');
        const hidden_input = document.querySelector('#' + input_id);
        const type = hidden_input.getAttribute('type') === 'password' ? 'text' : 'password';
        hidden_input.setAttribute('type', type);
        // toggle the eye slash icon
        toggle.classList.toggle('bi-eye-slash');
        toggle.classList.toggle('bi-eye-fill');
    }

    // Debounce function
    function debounce(func, wait, immediate) {
        let timeout;
        return function() {
            const context = this, args = arguments;
            const later = function() {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            const callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    }

    // Password Validation
    function password_validation() {
        const passwordInput = document.getElementById('passwordInput');
        const password = document.getElementById('new_password').value;
        let errors = {
            "length": {
                message: "Password must be at least 8 characters.",
                check: false
            },
            "uppercase": {
                message: "Contain at least 1 uppercase letter.",
                check: false
            },
            "lowercase": {
                message: "Contain at least 1 lowercase letter.",
                check: false
            },
            "number": {
                message: "Must contain at least 1 number.",
                check: false
            },
            "special": {
                message: "Must contain at least 1 special character.",
                check: false
            },
            "space": {
                message: "Password must not contain spaces.",
                check: false
            }
        };
        // Check password has at least 8 characters
        if (password.length < 8) {
            errors.length.check = false;
        } else {
            errors.length.check = true;
        }
        // Check password has at least 1 uppercase letter
        if (!/[A-Z]/.test(password)) {
            errors.uppercase.check = false;
        } else {
            errors.uppercase.check = true;
        }
        // Check password has at least 1 lowercase letter
        if (!/[a-z]/.test(password)) {
            errors.lowercase.check = false;
        } else {
            errors.lowercase.check = true;
        }
        // Check password has at least 1 number
        if (!/[0-9]/.test(password)) {
            errors.number.check = false;
        } else {
            errors.number.check = true;
        }
        // Check password has at least 1 special character
        if (!/[^a-zA-Z0-9]/.test(password)) {
            errors.special.check = false;
        } else {
            errors.special.check = true;
        }
        // Check password has no spaces
        if (/\s/.test(password) || password.length == 0) {
            errors.space.check = false;
        } else {
            errors.space.check = true;
        }

        // Display errors. By looping through the errors object
        let errorElement = "<ul class='m-0 ps-3'>";
        for (const [key, value] of Object.entries(errors)) {
            if (value.check) {
                errorElement += "<li class='text-success form-text m-0 p-0'>" + value.message + "</li>";
            } else {
                errorElement += "<li class='text-danger form-text m-0 p-0'>" + value.message + "</li>";
            }
        }
        errorElement += "</ul>";
        passwordInput.nextElementSibling.innerHTML = errorElement;
        // Disable sign up button if there are any errors
        if (errors.length.check && errors.uppercase.check && errors.lowercase.check && errors.number.check && errors.special.check && errors.space.check) {
            document.getElementById('changePassword').disabled = false;
        } else {
            document.getElementById('changePassword').disabled = true;
        }
    }
    const debouncedPasswordValidation = debounce(password_validation, 300);

    document.getElementById('new_password').addEventListener('input', debouncedPasswordValidation);

    // Confirm Password Validation
    function confirmPasswordValidation() {
        const password = document.getElementById('new_password').value;
        const confirmPassword = document.getElementById('confirm_password').value;
        if (password !== confirmPassword) {
            document.getElementById('confirmPasswordInput').nextElementSibling.innerHTML = "<div class='text-danger form-text m-0 p-0'>Passwords do not match.</div>";
            document.getElementById('changePassword').disabled = true;
        } else {
            document.getElementById('confirmPasswordInput').nextElementSibling.innerHTML = "";
            document.getElementById('changePassword').disabled = false;
        }
    }

    document.getElementById('confirm_password').addEventListener('input', confirmPasswordValidation);

    // JavaScript function to check file size
    function previewImage(input) {
        let remove_btn = document.getElementById("remove_file");
        if (!checkFileSize(input)) {
            remove_btn.setAttribute("data-file-exists", "false");
            remove_btn.classList.remove("d-block");
            remove_btn.classList.add("d-none");
            document.getElementById("file_exists").value = "removed";
            return;
        }
        var file = input.files[0];
        const id = input.id;
        var reader = new FileReader();

        reader.onload = function (e) {
            document.getElementById("label_" + id).src = e.target.result;
            remove_btn.setAttribute("data-file-exists", "true");
            remove_btn.classList.remove("d-none");
            remove_btn.classList.add("d-block");
            document.getElementById("file_exists").value = "changed";
        };

        reader.readAsDataURL(file);
    }

    function checkFileSize(input_file) {
        const MAX_FILE_SIZE = 500 * 1024; // 500KB in bytes

        const files = input_file.files;
        const id = input_file.id;

        if (files && files[0]) {
            const file = files[0];
            const fileSize = file.size;

            if (fileSize > MAX_FILE_SIZE) {
                // Clear the selected file
                input_file.value = "";
                
                // Display warning message
                alert(
                    "Error: File size exceeds the maximum limit of 500KB. Please choose a smaller image."
                );
                return false;
            }
            return true;
        }
    }

    function removeFile(e) {
        const id = e.getAttribute("data-id");
        let input_file = document.getElementById(id)
        input_file.value = "";
        document.getElementById("label_" + id).src = e.getAttribute("data-image-src");
        e.setAttribute("data-file-exists", "false");
        e.classList.remove("d-block");
        e.classList.add("d-none");
        document.getElementById("file_exists").value = "removed";
    }

</script>
{% endblock %}