{% extends 'main/base.html' %}
{% load auth_extras static %}
{% block title %}Photograper Search - Eventic{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/main/styles/search.css' %}">
{% include 'main/utils/_google-analytics.html' %}
{% endblock %}

{% block navbar_search_url %}{% url 'videographer:search_service' %}{% endblock %}
{% block content %}
{% include 'main/components/_search_container.html' %}
<section id="main">
    <div class="results-header-box">
        <p>About <span>{{ results|length }}</span> result{% if results|length > 1 %}s{% endif %} for <span>{{ eventron_service|title }}{% if results|length > 1 %}s{% endif %}</span></p>
    </div>
    {% if results %}
    <div class="cards">
        {% for result in results %}
        <a href="{% url 'videographer:service' result.id result.slug %}" class="eventron-videography-service-card" role="button" target="_blank">
            <div class="thumbnail">
                {% if result.sponsorship_active %}
                <div class="sponsor-active"><h6>SPONSORED</h6></div>
                {% endif %}
                {% if IN_DEVELOPMENT and result.eps_score %}
                <div class="eps-score">
                    <i class="bi bi-speedometer2"></i> 
                    <p>{{ result.eps_score }}</p>
                </div>
                {% endif %}
                <img 
                    src="
                        {% if result.has_thumbnail %}
                            {{ result.thumbnail.url }}
                        {% else %}
                            {% static 'assets/defaults/no-thumbnail-dark-x-mas.png' %}
                        {% endif %}" 
                    onerror=`this.onerror=null; this.src="{% static 'assets/defaults/1x1.png' %}";` 
                    alt="{{ result.vendor.name }} {{ result.category|title }} Photographer {{ result.vendor.city }} - Eventic" 
                    loading="lazy"
                >
            </div>
            <div class="card-content">
                <p class="eventron-service">{% if result.ad_active %}<i class="bi bi-badge-ad-fill"></i>{% endif %}{{ result.category|title }} Videographer{% if result.is_verified %}<i class="bi bi-patch-check-fill" data-bs-toggle="tooltip" data-bs-placement="top" title="Verified Service by Eventic"></i>{% endif %}</p>
                <h2 class="vendor-name">{{ result.vendor.name|title }}{% if result.vendor.is_verified %}&nbsp;<i class="bi bi-patch-check-fill" data-bs-toggle="tooltip" data-bs-placement="top" title="Verified Vendor by Eventic"></i>{% endif %}</h2>
                <p class="info-text"><i class="bi bi-geo-alt-fill"></i>&nbsp;{% if result.vendor.address %}{{ result.vendor.address|title }}, {% endif %}{{ result.vendor.city|title }}</p>
                <h5 class="price-text"><i class="bi bi-currency-rupee"></i>{{ result.price }}<span> / {{ result.price_unit }}</span></h5>
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <div class="no-results-box">
        <h2>(っ◞‸◟c)</h2>
        <h3>No Matches Found</h3>
        <p>We couldn’t find any vendors matching your search.</p>
    </div>
    {% endif %}
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/videographer/search.js' %}"></script>
{% endblock %}