footer {
    .footer {
        padding: 24px;
        text-align: center;
        p {
            font-size: 16px;
            letter-spacing: 0.03em;
            color: #282828;
            margin-bottom: 0;
        }
    }
}